REDIS_URL=redis://redis:6379/0

POSTGRES_USER=event_user
POSTGRES_PASSWORD=event_pass
POSTGRES_DB=event_db

DATABASE_URL=postgresql+asyncpg://event_user:event_pass@postgres:5432/event_db
API_KEY=api-testing-key